.content {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.content #output {
  width: 100%;
}

.content .output-wrapper {
  position: relative;
}

.output-wrapper .copy {
  position: absolute;
  top: 1.6rem;
  right: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
