.side-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 13rem;
  background-color: var(--dark);
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
}

.side-menu li {
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-weight: 600;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: transform, filter;
}

.side-menu li.active {
  background-color: var(--light);
  border-left: 0.4rem solid var(--border);
  transform: scale(1);
}

.side-menu li:not(.active):not(.menu-header):hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

.side-menu li.menu-header {
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
  margin-top: 0.5rem;
  color: var(--dark-gray);
}

.side-menu .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.side-menu .logo-text {
  color: var(--dark-gray);
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-left: -0.2rem;
  padding-right: 0.5rem;
}

.side-menu .logo {
  height: 2rem;
}
