.side-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 10rem;
}

.side-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.side-menu li.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #007bff;
}

.side-menu li.menu-header {
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
  margin-top: 1rem;
  color: var(--dark-gray);
}
