.auto-textarea-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.auto-textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-y: auto;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding-right: 1.8rem;
  resize: none;
}

.auto-textarea:focus {
  outline: 2px solid var(--border);
}

.copy-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: transform, filter;
}

.copy-btn:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

.copy-btn:active {
  transform: scale(1);
}
